@tailwind base;
@tailwind components;
@tailwind utilities;

.form__input{
    @apply outline-none bg-coolOrange w-1/2 rounded-sm border-b px-6 py-4 border-yt-gray
    text-black transition-all placeholder-black focus:border-cursorColor/40 
    focus:text-cursorColor/40 hover:border-cursorColor/40 rounded-lg
}

.leads__background{
    position: relative;
    height: fit-content;
    background: url("../public/images/sport_3.png") center no-repeat;
    background-size: cover;
    z-index: 0;
}

.leads__gradient{
    width: 100%;
    z-index: 1;
    height: fit-content;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.8) 100%,
    );
}

.socialLogo{
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
}

.socialLogo:hover{
    transform: translateY(-2px);
}

.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #262626;
    z-index: 1;
}

.spinner {
    width: 64px;
    height: 64px;    
    border: 8px solid;
    border-color:#57544e  transparent #A80B44 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}