@tailwind base;
@tailwind components;
@tailwind utilities;

.form__input{
    @apply outline-none object-cover bg-darkGray/70 xl:w-1/2 lg:w-1/2 md:w-1/2 sm:w-full xs:w-full rounded-md px-2 py-4 border-yt-gray
    text-slate-100/70 transition-all placeholder-slate-100/40 focus:border-cursorColor/40 
    focus:text-slate-100 hover:border-cursorColor/40
}

.leads__background{
    position: relative;
    height: fit-content;
    background: url("../public/images/sport_3.png") center no-repeat;
    background-size: cover;
    z-index: 0;
}

.leads__gradient{
    width: 100%;
    z-index: 1;
    height: fit-content;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.8) 100%,
    );
}

.socialLogo{
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
}

.socialLogo:hover{
    transform: translateY(-2px);
}

.my-popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 50%;
    padding: 5px;
  }
  .my-popup-arrow {
    color: rgb(255, 255, 255);
  }
  [role='tooltip'].my-popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }
  
  .my-popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  [data-popup='tooltip'].my-popup-overlay {
    background: transparent;
  }

.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #262626;
    z-index: 1;
}

.spinner {
    width: 64px;
    height: 64px;    
    border: 8px solid;
    border-color:#57544e  transparent #A80B44 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}